<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= message %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  <h1>Welcome to the Webshop</h1>

  <h2>Products:</h2>
  <ul>
    <% for (const product of products) { %>
      <li>
        <%= product.nev %> - <%= product.ar %> 
        <a href="/cart/add/<%= product.id %>">Add to Cart</a>
      </li>
    <% } %>
  </ul>

  <h2>User Cart:</h2>
  <ul>
    <% if (Array.isArray(locals.cartItems)) { %>
      <% for (const item of locals.cartItems) { %>
        <li>
          <%= item.nev %> - <%= item.ar %>
        </li>
      <% } %>
    <% } else { %>
      <li>No items in the cart</li>
    <% } %>
  </ul>
  
  <h3>Total: <%= locals.total !== undefined ? locals.total.toFixed(2) : '0.00' %></h3>
  


</body>
</html>
